select {
    font-size: 12px;
    width: 160px;
    border: none;
    padding: 5px 0;
    border-radius: 4px;
    background-color: #BCEBDD;
}

.select{
    padding-top: 5px;
    padding-right: 750px;
}

.input{
    padding-top: 5px;
    padding-right: 750px;
}

input[type=text] {
    background-color: #BCEBDD;
    border-radius: 4px;
    width: 160px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 11px;
}

input[type=text]:focus {
    border: 2px solid rgba(137, 0, 181, 0.2);
}

#balance{
    font-weight: bold;
    color: black;
    padding-top: 20px;
    padding-right: 530px;
}

#bet{
    margin-left: 20px;
    width: 100px;
    background-color: #fffcc8;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.error-text{
    padding-top: 5px;
    white-space: nowrap;
    padding-left: 20px;
    color: red;
}

.not-authenticated-text{
    padding-right: 540px;
    margin-bottom: 65px;
}

.not-authenticated-text a{
    font-weight: bold;
    color: red;
}

.not-authenticated-text p{
    color: blue;
}