.column1 {
    width: 30%;
}

.column2 {
    width: 35%;
}

.text1{
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text2{
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
}