.column1 {
    width: 25%;
}

.column2 {
    width: 50%;
}

.column3 {
    width: 25%;
}

.text1{
    width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text2{
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text3{
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-header{
    color: rgba(4, 30, 67, 0.72);
    font-size: 15px;
    padding: 30px 0 10px 95px;
    position: relative;
}

.balance{
    color: rgba(4, 30, 67, 0.72);
    font-size: 15px;
    padding: 30px 0 10px 420px;
    position: relative;
}