
.column1 {
    width: 15%;
}

.column2 {
    width: 40%;
}

.column3 {
    width: 25%;
}

.column4 {
    width: 20%;
}

.text1{
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text2{
    width: 290px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text3{
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}