table {
    margin-top: 15px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}
th {
    background: #BCEBDD;
    color: #fffde7;
    text-shadow: 0 1px 1px #2D2020;
    padding: 5px 0;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td:first-child {
    text-align: left;
}
th:first-child {
    text-align: center;
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}
td {
    width: 25px;
    color: blue;
    padding: 5px 10px;
    background: #F8E391;
}
tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
tr td:last-child {
    border-right: none;
}

#first-th{
    width: 120px;
}

#second-th{
    text-align: center;
    width: 40px;
}

#third-th{
    text-align: center;
    width: 120px;
}

.text1{
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text2{
    width: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text3{
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slot-text{
    width: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}